

<div class="w3-container w3-padding-64 w3-center">
    <h1>Illustrator</h1>      
</div>


  <div class="row"> 
      <div class="column">
        <h4>Designs for t-shirts and other clothes</h4>
        <a (click)="setImage('ill1', 'Basketball personal Logo')"><img src="/assets/img/illustrator/ill1.png" alt="Basketball logo Samir 1" (click)="illustratorModal.open()"> </a>
        <a (click)="setImage('ill2', 'Design for T-shirt')"><img src="/assets/img/illustrator/ill2.png" alt="Basketball logo Samir 1" (click)="illustratorModal.open()"> </a>
        <a (click)="setImage('ill3', 'Tomato')"><img src="/assets/img/illustrator/ill3.png" alt="Tomato" (click)="illustratorModal.open()"> </a>
      </div>
      <div class="column">
          <h4>Tests and personal designs</h4>
          <a (click)="setImage('ill4', 'My face')"><img src="/assets/img/illustrator/ill4.png" alt="Samir's face" (click)="illustratorModal.open()"> </a>
          <a (click)="setImage('ill5', 'Samir logo designed')"><img src="/assets/img/illustrator/ill5.png" alt="Samir logo designed" (click)="illustratorModal.open()"> </a>
        </div> 
      <div class="column">
      </div>
      <div class="column">
      </div>
    </div>




<modal #illustratorModal>
    <ng-template #modalHeader><h2>{{titleNameModel}}</h2></ng-template>
    <ng-template #modalBody>
    <img src="/assets/img/illustrator/{{imgNameModel}}.png">
    </ng-template>
  </modal>