
<div class="header-image">
    <div class="header-text">
      <h1>Samir Hanini</h1>
      <p>Fullstack developer and lead</p>
    </div>
  </div>

  <mat-toolbar class="toolbar">


  <button class="dropbtn" [routerLink]="['/home']">Qui suis-je</button>

  <div class="dropdown">
    <button class="dropbtn">Jeux</button>
    <div class="dropdown-content">
      <a [routerLink]="['/game-a-week']">A game a week games</a>
      <a [routerLink]="['/other-games']">Autres</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Graphismes</button>
    <div class="dropdown-content">
      <a [routerLink]="['/pixel']">Pixels</a>
      <a [routerLink]="['/illustrator']">Illustrator</a>
    </div>
  </div>

  <button class="dropbtn" [routerLink]="['/404']">Contact</button>

</mat-toolbar>
