.menu {
    margin: 2em;
}

/* The header image */
.header-image {
    /* The image used */
    background-image: url("/assets/img/samriding4.png");

    /* Set a specific height */
    height: 30%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 4px;
    margin: 2em;
}

/* Place text in the middle of the image */
.header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.toolbar {
    padding-left: 5%;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(80, 80, 80);
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    margin: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 8px 16px 0px rgb(150, 146, 146);
    z-index: 1;
    border-radius: 3px;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(150, 146, 146);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover, .dropdown:hover .dropbtn:hover {background-color: rgb(150, 146, 146);}