.row {
    height: auto;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.column {
	padding: 0 4px;
}

.column img {
	margin: 8px;
	vertical-align: middle;
	width: 25%;
	height: auto;
}