
<div class="w3-container w3-padding-64 w3-center">
    <h1>Pixel drawings</h1>      
</div>

<div class="row"> 
    <div class="column">
      <h4>Trees</h4>
      <a (click)="setImage('tree1', 'Tree')"><img src="/assets/img/pixel/tree1.png" (click)="pixelModal.open()"></a>
      <a (click)="setImage('tree2', 'Tree')"><img src="/assets/img/pixel/tree2.png" (click)="pixelModal.open()"></a>
      <a (click)="setImage('tree3', 'Tree')"><img src="/assets/img/pixel/tree3.png" (click)="pixelModal.open()"></a>
      <a (click)="setImage('tree4', 'Tree')"><img src="/assets/img/pixel/tree4.png" (click)="pixelModal.open()"></a>
      <a (click)="setImage('tree5', 'Tree')"><img src="/assets/img/pixel/tree5.png" (click)="pixelModal.open()"></a>
    </div>
    <div class="column">
        <h4>Bushes</h4>
        <a (click)="setImage('bush1', 'Bush')"><img src="/assets/img/pixel/bush1.png" (click)="pixelModal.open()"></a>
        <a (click)="setImage('bush2', 'Bush')"><img src="/assets/img/pixel/bush2.png" (click)="pixelModal.open()"></a>
      </div> 
    <div class="column">
        <h4>Horrors</h4>
        <a (click)="setImage('horror1', 'Blood arrow')"><img src="/assets/img/pixel/horror1.png" (click)="pixelModal.open()"></a>
        <a (click)="setImage('horror2', 'Blood arrow')"><img src="/assets/img/pixel/horror2.png" (click)="pixelModal.open()"></a>
        <a (click)="setImage('horror3', 'Horror zombie face')"><img src="/assets/img/pixel/horror3.png" (click)="pixelModal.open()"></a>
        <a (click)="setImage('horror4', 'Horror help')"><img src="/assets/img/pixel/horror4.png" (click)="pixelModal.open()"></a>
        <a (click)="setImage('horror4', 'Horror help')"><img src="/assets/img/pixel/horror5.png" (click)="pixelModal.open()"></a>

    </div>
    <div class="column">
        <h4>Others</h4>
        <a (click)="setImage('other1', 'Apple')"><img src="/assets/img/pixel/other1.png" (click)="pixelModal.open()"></a>
        <a (click)="setImage('other2', 'Game controller cross')"><img src="/assets/img/pixel/other2.png" (click)="pixelModal.open()"></a>
        <a (click)="setImage('other3', 'Fish')"><img src="/assets/img/pixel/other3.png" (click)="pixelModal.open()"></a>
        <a (click)="setImage('other4', 'Heart')"><img src="/assets/img/pixel/other4.png" (click)="pixelModal.open()"></a>
        <a (click)="setImage('other5', 'Construction')"><img src="/assets/img/pixel/other5.png" (click)="pixelModal.open()"></a>

    </div>
  </div>
  

  <modal #pixelModal>
    <ng-template #modalHeader><h2>{{titleNameModel}}</h2></ng-template>
    <ng-template #modalBody>
    <img src="/assets/img/pixel/{{imgNameModel}}.png">
    </ng-template>
  </modal>