
<!-- <div class="container" [ngClass]="{'container--cover': isHideUI, 'container--admin': isAdminPanel}"> -->
<app-header></app-header>
<div class="container">

  <!-- <main> -->
    <!-- <common-modal #commonModal></common-modal> -->
    <router-outlet></router-outlet>
  <!-- </main> -->
  <!-- <app-footer (openCGU)="openCGUModal()" (openWL)="openWLModal()"></app-footer> -->
</div>
<app-footer></app-footer>
