.footer {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10em;
    margin-bottom: 5em;
}

.footer a {
    margin-right: 5em;
}

a {
    margin-left: 10px;
}


/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
/* @media screen and (max-width: 500px)
{
    .footer {
        text-align: center;
        position: absolute;
        left: 30%;
        transform: translate(-50%, -50%);
        margin-top: 10em;
        margin-bottom: 5em;
    }
    
    .footer a {
        margin-right: 3em;
    }
    
    a {
        margin-left: 5px;
    }
} */