<div class="footer">
    <img src="/assets/img/footer/fb.png" ><a href="https://www.facebook.com/Spyman15/" target="_blank">facebook</a>
    <img src="/assets/img/footer/ld.png" ><a href="https://www.linkedin.com/in/samir-hanini-0197a784/" target="_blank">LinkedIn</a>
    <img src="/assets/img/footer/twitter.png" ><a href="https://twitter.com/Spymannn" target="_blank">Twitter</a>
    <img src="/assets/img/footer/insta.png" ><a href="https://www.instagram.com/samhn_/?hl=en" target="_blank">Instagram</a>
    <img src="/assets/img/footer/github.png" ><a href="https://github.com/Spymannn" target="_blank">Github</a>
</div>

