/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.modal-header .close {
    background: none;
    border: none;
    position: relative;
    float: right;
}


.modal {
    opacity: 0; /* Fade in/out animation. */
    transition: opacity 0.2s ease-in;
  }

.modal-body {
    background-color: white;
    opacity: 1;
    padding: 5px;
    border-radius: 5px;
}

  .modal-header .close:hover {
    background-color: #ccc;
  }