<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <!-- <img src="/assets/img/samir.png" alt="Samir" /> -->
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Hi, I'm Samir Hanini</h1>

        <h5 class="w3-padding-32">I'm a fullstack web and mobile hybrid developer and game developer from Belgium</h5>
  
        <p class="w3-text-grey">For the web and mobile part, I had the chance to develop my skills using JavaScript on several projects and use differents frameworks/libraries such as 
          Angular, NodeJS/ExpressJS, ..
        </p>

        <p class="w3-text-grey">For the video game part, I developed several games using differents Engine and Framework such as PixiJS, P5Play.js, PhaserJS, lÖVE 2D 
          or Unity.
          I created my own challenge which was "A game a week by Spyman", and each week I had to develop a new game using the technology I wanted.
          You can find some of my games on my website and a link to my page itch.io to test them.    
          </p>
      </div>

      <div class="w3-third w3-center">
        <img src="/assets/img/samir.png" alt="Samir" />
      </div>
    </div>
  </div>